
html {
font-family: 'Open Sans', sans-serif;
}
body {
  align-self: center;
}

input[type="text"] {
    font-size:35px;
}
.fixpic{
   width: 400px;
   position: relative;
}
img {
  position: relative;
  max-width: 50%;
  max-height: 300px;
}
footer {
padding-top: 10px;
}
#aftertranslate {
padding-bottom: 30px;
}
#aftertranslate-two {
padding-top: 35px;
position: relative;
padding-bottom: 30px;
}
#toptranslate {
padding-top: 15px;
}
.search-input {
width: 80vw;
}
