/* body {

  background-color: #1F7ABF;
  text: white;

}
*/
/*.container {
  height: 250px;
  width: 250px;
}*/

#bgflag {
  background-image: url("flagpng/044-spain.png");
  position: relative;
}


.fixpic{
   width: 200px;
   position: relative;
}
img {
  position: relative;
  max-width: 100%;
  max-height: 200px;
}

/*.fixpic {
max-width: 50px;
max-height: 50px;
}*/

/*p {

  text: white;

}

.maincss {

  text: white;

}*/
